
.queue-item {
  font-size: 36px;
  color: #ffffff;
  background: #00000033;
  border-left: 5px solid #1E90FF;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-left: 20px; /* 左边距 */
  margin-top: 10px;   /* 上边距 */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  
  
}

.queue-item img {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

#preview {
  filter: blur(0px);
  transform: scale(1);
  transform-origin: top left;
}


.queue-item {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

